/* Fonts */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.light {
    --header-background: #071013;
    --header-contrastColor: #75ABBC;
    --hero-background: #395E66;
    --header-text: #F0F8FF;
}

/* Typography */
.logo {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3rem;
    
}

.tilt {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 40px;
    transform: scale(1.25);
    color: var(--header-constrastColor, #75ABBC);
}

.header {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 60px;
    padding: 1em;
    background-color: var(--header-background, #071013);
    color: #F0F8FF;
}

.header ul {
    list-style: none;
    margin-left: 1em;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2em;
    color: var(--heaader-text, #F0F8FF);
}

section.hero {
    font-family: 'Lexend Deca', sans-serif;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 300px;
    background-color: var(--hero-background, #395E66);
    border-radius: 5px;
    -webkit-box-shadow: -1px 0px 38px 8px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 0px 38px 8px rgba(0,0,0,0.51);
    box-shadow: -1px 0px 38px 8px rgba(0,0,0,0.51);
}

.hero img {
    border-radius: 5px;
}

.hero h1 {
    margin-top: 1rem;
    color: var(--header-text, #F0F8FF);
}

.hero > p {
    color: #C1AE7C;
    font-family: 'Ubuntu', sans-serif;
}


/* Layout */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
}



section.hero {
    display:flex;
    flex-direction: column;
    align-items: center;
}

